<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>

  <appSettings>
    <!-- Environment Settings -->
    <add key="Environment" value="Production" />

    <!-- Data Settings -->
    <add key="TestDataResourcePrefix" value="Prod_Integration.Data" />

    <!-- Test Settings -->
    <add key="Browser" value="Chrome" />
    <add key="Timeout" value="30.0" />
    <add key="RetryInterval" value=".3" />
    <add key="MaximizeBrowser" value="true" />
    <add key="CCCBaseUrl" value="https://prspareleased.vocusdr.com/#/" />
    <add key="CPREBaseUrl" value="https://us.vocuspr.com/Login.aspx" />

    <!-- Grid Settings -->
    <add key="ExecuteOnGrid" value="false" />
    <add key="GridUrl" value="http://vld13dck01.vocusdr.com:4444/wd/hub" />

    <!-- MySql DB Connection -->
    <add key="ConnectionString" value="server=10.12.213.102;port=8888;uid=qa;pwd=automation;database=test;" />

  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>